/* p.error {
  color: rgb(255, 0, 0);
}
p.success {
  color: rgb(0, 255, 0);
}
p.success.feedback {
  border: 1px dashed #4fdb4f;
}
div#content {
  background-color: #ebebeb;
  padding: 20px;
} */
/* div p {
  color: purple;
} */
div {
  color: lightcoral;
  border: 1px solid red;
  margin: 40px;
  font-weight: bold;
}
div p {
  border: inherit;
  margin: inherit;
  color: crimson;
}
p {
  color: orange;
}
